extends layout

block content
  a.buttonfile(id='btn1', style='background-color:#7E8BC6') Default
  a.buttonfile(id='btn2', style='background-color:#7E8BC6') Display On-Demand
  a.buttonfile(id='btn3', style='background-color:#7E8BC6') Display Always-On
  div#editor

  br
  input#mic(type='checkbox')
  label(for='mic')

  br
  div.transcript#static Recognized:
  div.transcript#currentTranscript

  br
  br
  a.buttonfile(id='stopTTS', style='background-color:#999292') Stop Reading