extends layout

block content
  a.buttonfile(id='btn_c1', style='background-color:#7E8BC6') ODD-General
  a.buttonfile(id='btn_c2', style='background-color:#7E8BC6') ODD-PTT
  a.buttonfile(id='btn_c3', style='background-color:#5D50DE') AOD
  div#editor
  br
  a.buttonfile(id='btn_tr1', style='background-color:#D44009') Train-ODD
  a.buttonfile(id='btn_tr2', style='background-color:#D44009') Train-AOD
  a.buttonfile(id='btn_test', style='background-color:#6B6B6B') Test-Default
  a.buttonfile(id='btn_read', style='background-color:#93B24B') Reading
  
  br
  input#mic(type='checkbox')
  label(for='mic')

  br
  div.transcript#static Recognized:
  div.transcript#currentTranscript

  br
  div.container
    span.lock
  
  //- for testing
  br
  br
  input#utteranceBox