doctype html
html
  head
    //- title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://cdn.quilljs.com/1.3.6/quill.js")
    link(href="https://cdn.quilljs.com/1.3.6/quill.snow.css", rel="stylesheet")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.4.4/fuse.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js")
    script(src="javascripts/Drivers/ConnectBlade.js")
    script(src="javascripts/Utils/easytimer.min.js")
    script(src="/javascripts/Utils/numberToWords.min.js")
    script(src="javascripts/Utils/tokenize.js")
    script(src="javascripts/Utils/diff_match_patch.js")
    script(type='module', src='/javascripts/Engines/TextEditor.js')
    script(type='module', src='/javascripts/Services/tts.js')
    script(type='module', src='/javascripts/Drivers/HandControllerDriver.js')
    script(type='module', src='/javascripts/main.js')
  body
    block content
